<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris Quashie Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="header">

     <div class="container">
        <nav>
            <img class= "logo" src="images/logo.png.png" alt="logo">
            
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>

            </ul>
        </nav>
        <header class="header-text">
            <p>Network Security Engineer</p>
            <h1> Hi, I am Chris. <br> An IT profesional <br>with a passion for <br> all things tech! </h1>
        </header>   
      </div>
    </div>
<!------------about----------------->

    <div id="About">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="images/mypic.png" alt="">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-tittle">About Me</h1>
                    <p>I am an IT professional with 3+ of experience in network and security operations. Currently pursuing a Bachelor of Science in Information Technology. Great expertise with designing, implementing, and maintaining robust network infrastructures. Strong troubleshooting abilities and adept at identifying and resolving hardware and software issues.
                    </p>
                <div class="tab-tittles">
                    <p class="tab-links active-link">Skills</p>
                    <p class="tab-links">Experience</p>
                    <p class="tab-links">Education</p>
                </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
